# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
torch==1.9.0
numpy
pandas
torchvision==0.10.0